body {
  margin: 0;
  background-color: black;
}

#res {
  color: yellow; 
  font-size: 2em;
  position: absolute;
  bottom: 640px;
  left: 250px; 
}

p {
  color: blue; 
  font-size: 2em;
  position: absolute;
  bottom: 610px;
  left: 110px; 
}